body {
  background-color: black;
  color:white;
}

.cell {
  width: 40px;
  height: 40px;
  text-align: center;
  font-size: 1.5em;
}
.modal {
  width: 100px;
  height: 80px;
  background-color: white;
  color: brown;
}
/* .formLine {
  margin:10px;
  padding:10px;
  background-color: cornflowerblue;
} */